.infoperson{
    font-size: 10pt;
    font-weight: 400;
}

.listica{
    overflow: scroll;
    overflow-x: hidden;
    height: 500px;
    max-width: 500px;
}

.jjj{
    max-width: 500px;
    margin: 10%;

}

.infoSelect{
    font-size: 15pt;
    font-weight: 400;
    color: white;
}

.gustos{
    height: 50px;
}

.taste{
  
    max-width: 300px;
}

.friends{
    margin: 10px;
}